/* .title {
  font-family: 'Enriqueta', cursive;
  color: white;
} */

body {
  background-color: black;
  overflow: hidden;
  font-family: 'Enriqueta', cursive;
  background-image: url("b2.gif");
}

.background {
    /* background-color: gold; */
    /* margin: auto; */
}

#canvas-elements {
  position: relative;
  left: 10px;
  top: 10px;
}

#background-canvas {
  display: block;
  border: 4px solid black;
}

@media (max-width: 667px) {
  #canvas-elements {
    transform: scale(0.60);
    margin-left: 16%;
    margin-right: 90%;
    margin-top: -13%;
  }

  .contact-links {
    margin: 40px auto;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 57px;
    color: white;
    margin-top: -3%;
    margin-right: 7%;
  }
  a {
    color: white;
    position: relative;
    text-decoration: none;
    bottom: -54px;
    right: 3px;
    font-size: 14px;
  }
   .github-title{
    right: -3px;
  }
}

@media (min-width: 668px) {
  #canvas-elements {
    transform: scale(0.70);
    margin-left: 26%;
    margin-right: 90%;
    margin-top: -5%;

  }
  .contact-links {
    margin: 40px auto;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 57px;
    color: white;
    margin-top: -5%;
    margin-right: 7%;
  }
  a {
    color: white;
    position: relative;
    text-decoration: none;
    bottom: -54px;
    right: 3px;
    font-size: 14px;
  }
   .github-title{
    right: -3px;
  }
}

@media (min-width: 950px) {
  .contact-links {
    margin: 40px auto;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 57px;
    color: white;
    margin-top: -2%;
    margin-right: 12%;
  }
  a {
    color: white;
    position: relative;
    text-decoration: none;
    bottom: -54px;
    right: 3px;
    font-size: 14px;
  }
   .github-title{
    right: -3px;
  }
}

@media (min-width: 1161px) {
  #canvas-elements {
    transform: scale(0.77);
    margin-left: 28%;
    margin-right: 88%;
    margin-top: -4%;
  }
  .contact-links {
    margin: 40px auto;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 57px;
    color: white;
    margin-top: -1%;
    margin-right: 19.4%;
  }
  a {
    color: white;
    position: relative;
    text-decoration: none;
    bottom: -54px;
    right: 3px;
    font-size: 14px;
  }
   .github-title{
    right: -3px;
  }
}

@media (min-width: 1460px) {
  #canvas-elements {
    transform: scale(0.79);
    margin-left: 29%;
    margin-right: 90%;
    margin-top: 1%;
  }

  .contact-links {
    margin: 40px auto;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 57px;
    color: white;
    margin-top: -1%;
    margin-right: 20%;
  }
  a {
    color: white;
    position: relative;
    text-decoration: none;
    bottom: -54px;
    right: 3px;
    font-size: 14px;
  }
   .github-title{
    right: -3px;
  }
}

@media (min-width: 1620px) {
  #canvas-elements {
    transform: scale(0.79);
    margin-left: 29%;
    margin-right: 90%;
    margin-top: -8%;
  }

  .contact-links {
    margin: 40px auto;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 57px;
    color: white;
    margin-top: -1%;
    margin-right: 20%;
  }
  a {
    color: white;
    position: relative;
    text-decoration: none;
    bottom: -54px;
    right: 3px;
    font-size: 14px;
  }
   .github-title{
    right: -3px;
  }
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    border: none;
}


.labels {
  margin-left: 12%;
  margin-top: -40%;
  border: .5px solid white;
  border-left: none;
}
#label {
  color: white;
  font-family: 'Inconsolata';
  font-size: 15px;
}

/* .contact-links {
  margin: 40px auto;
  width: 700px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding-left: 57px;
  color: white;
  margin-top: -2%;
  margin-right: 14%;
} */


.github {
  background: url('github.png');
  padding-right: 10px;
  background-repeat: no-repeat;
}

/* .github a{
  height: 50px;
  width: 50px;
} */

.angellist {
  background: url('angelist.png');
  padding-right: 10px;
  background-repeat: no-repeat;
}

.linkedin {
  background: url('linkedin.png');
  padding-right: 10px;
  background-repeat: no-repeat;
}

.personal-site {
  background: url('personal.png');
  padding-right: 10px;
  background-repeat: no-repeat;
}

.personal-site .linkedin .angellist .github {
  padding-right: 10px;
}
